[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "==7.0"
itsdangerous = "==1.1.0"
Flask = "==1.0.2"
Flask-WTF = "==0.14.2"
Jinja2 = "==2.10.1"
MarkupSafe = "==1.1.1"
Werkzeug = "==0.15.5"
WTForms = "==2.2.1"
Flask-SQLAlchemy = "*"
Flask-Bcrypt = "*"
Flask-Login = "*"
pillow = "*"

[requires]
python_version = "3.6"
